# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.png
log.html
output.xml
report.html
*.log
out
gen
results/
results/selenium-screenshot-1.png
results/selenium-screenshot-2.png
results/selenium-screenshot-3.png
results/selenium-screenshot-4.png
results/selenium-screenshot-5.png
